body {
    background-image: url('https://cdn.wallpapersafari.com/55/90/srHJTi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Roboto", sans-serif;
}

.login-box {
width: 360px;
height: 300px;
margin: auto;
border-radius: 3px;
background-color: white;
}

h1 {
text-align: center;
padding-top: 15px;
}

form {
width: 300px;
margin-left: 20px;
}

form label {
display: flex;
margin-top: 20px;
font-size: 18px;
}

form input {
width: 100%;
padding: 7px;
border: none;
border: 1px solid gray;
border-radius: 6px;
outline: none;
}
form input[type="submit"] {
width: 100%;
height: 35px;
margin-top: 20px;
border: none;
background-color: #DA70D6;
color: white;
font-size: 18px;
}
.para-2 {
text-align: center;
color: white;
font-size: 15px;
margin-top: -10px;
}
.para-2 a {
color: #DA70D6;
}
#bottom {
position:absolute;                 
bottom:0;                                               
}